.BurpSuite/
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.bashrc.original
.cache/
.cargo/
.dmrc
.dotnet/
.face
.face.icon
.gk/
.gnupg/
.gtkrc-2.0
.java/
.local/
.mozilla/
.msf4/
.oh-my-zsh/
.passwords.txt.swp
.pki/
.profile
.rustup/
.snap/
.spiderfoot/
.ssh/
.sudo_as_admin_successful
.var/
.vscode/
.wget-hsts
.xsession-errors
.xsession-errors.old
.zcompdump-kali-5.9
.zcompdump-kali-5.9.zwc
.zprofile
.zsh_history
.zshenv
.zshrc.pre-oh-my-zsh
Desktop/
Documents/
Downloads/
HyprNova/
Pictures/
Screenshots/
hyprflow/
passwords.txt
project.md
usernames.txt
warppaper/
